## no archives
*.jar
*.zip
*.gz

## no derived resources
*.class
bin/
target/
workspace/

## various other file types we don't want to have in the repository:
.DS_Store
*~
*#
*.licensed
*.aux
*_trace
.polyglot.*