<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="serverProvider" name="C/C++ Language Server" schema="schema/serverProvider.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.ui.internal.genericeditor.ExtensionBasedTextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="false"
            icon="icons/c.png"
            id="org.eclipse.cdt.lsp.CEditor"
            name="C/C++ Editor (LSP)">
         <contentTypeBinding
               contentTypeId="org.eclipse.cdt.core.cSource">
         </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="org.eclipse.cdt.core.cxxSource">
         </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="lng.cpp"> <!-- // TODO: The content type definition from TM4E "lng.cpp" can be omitted here if either https://github.com/eclipse-cdt/cdt/pull/310 or 
		// https://github.com/eclipse/tm4e/pull/500 has been merged. --> 
         </contentTypeBinding>       
      </editor>
      <editorContentTypeBinding
            contentTypeId="lng.cpp"
            editorId="org.eclipse.cdt.ui.editor.CEditor"> <!-- // TODO: The content type definition from TM4E "lng.cpp" can be omitted here if either https://github.com/eclipse-cdt/cdt/pull/310 or 
		// https://github.com/eclipse/tm4e/pull/500 has been merged. --> 
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="org.eclipse.cdt.lsp.internal.server.CLanguageServerStreamConnectionProvider"
            id="org.eclipse.cdt.lsp.server"
            label="C/C++ Language Server"
            singleton="true">
      </server>
      <contentTypeMapping
            contentType="org.eclipse.cdt.core.cSource"
            id="org.eclipse.cdt.lsp.server">
         <enabledWhen
               description="LSP Editor active">
            <reference
                  definitionId="org.eclipse.cdt.lsp.server.enable.editorHasLanguageServer">
            </reference>
         </enabledWhen>
      </contentTypeMapping>
      <contentTypeMapping
            contentType="org.eclipse.cdt.core.cxxSource"
            id="org.eclipse.cdt.lsp.server">
         <enabledWhen
         	description="LSP Editor active">
            <reference
                  definitionId="org.eclipse.cdt.lsp.server.enable.editorHasLanguageServer">
            </reference>
         </enabledWhen>
      </contentTypeMapping>
      <contentTypeMapping
            contentType="org.eclipse.cdt.core.cxxHeader"
            id="org.eclipse.cdt.lsp.server">
         <enabledWhen
               description="LSP Editor active">
            <reference
                  definitionId="org.eclipse.cdt.lsp.server.enable.editorHasLanguageServer">
            </reference>
         </enabledWhen>
      </contentTypeMapping>
   </extension>
   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <!-- This content type binding is needed because the cpp content type from TM4E (lng.cpp) 
      does not cover C++ standard library header without file extension -->
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.cdt.core.cxxHeader"
            scopeName="lngpck.source.cpp">
      </scopeNameContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.tm4e.languageconfiguration.toggleLineCommentCommand"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+7">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.ide.editorAssociationOverride">
      <editorAssociationOverride
            class="org.eclipse.cdt.lsp.editor.CEditorAssociationOverride"
            id="org.eclipse.cdt.lsp.editorAssociationOverride">
      </editorAssociationOverride>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.cdt.internal.ui.navigator.CNavigatorContentProvider"
            id="org.eclipse.cdt.lsp.navigator.content"
            labelProvider="org.eclipse.cdt.internal.ui.navigator.CNavigatorLabelProvider"
            name="C/C++ Elements"
            priority="high">
	    <triggerPoints>
          <or>
             <instanceof value="org.eclipse.cdt.core.model.ICElement"/>
             <instanceof value="org.eclipse.cdt.ui.CElementGrouping"/>
             <and>
	             <instanceof value="org.eclipse.core.resources.IResource"/>
	             <test
                    forcePluginActivation="true"
                    property="org.eclipse.core.resources.projectNature"
                    value="org.eclipse.cdt.core.cnature"/>
             </and>
             <instanceof value="org.eclipse.core.resources.IWorkspaceRoot"/>
          </or>
   	   </triggerPoints>
   	   <possibleChildren>
          <or>
             <instanceof value="org.eclipse.core.resources.IResource"/>
             <instanceof value="org.eclipse.cdt.core.model.ICElement"/>
             <instanceof value="org.eclipse.cdt.ui.CElementGrouping"/>
          </or>
	   </possibleChildren>
 	   <override
             policy="InvokeAlwaysRegardlessOfSuppressedExt"
             suppressedExtensionId="org.eclipse.ui.navigator.resourceContent"/>
	   <actionProvider
			class="org.eclipse.cdt.lsp.ui.navigator.LspCEditorOpenActionProvider"
			id="org.eclipse.cdt.lsp.navigator.actions.open"
			overrides="org.eclipse.ui.navigator.resources.OpenActions"
			priority="highest">
		 <enablement>
			<or>
				<instanceof value="org.eclipse.cdt.core.model.ICElement" />
		        <and>
		            <instanceof value="org.eclipse.core.resources.IProject"/>
		            <test
                    forcePluginActivation="true"
                    property="org.eclipse.core.resources.projectNature"
                    value="org.eclipse.cdt.core.cnature"/>
		        </and>
			</or>
         </enablement>			
       </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.cdt.lsp.navigator.content">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.eclipse.cdt.core.cxxHeader"
            file-names="charconv,bit,compare,concepts,coroutine,format,numbers,ranges,source_location,span,syncstream,version,barrier,latch,semaphore,stop_token">
      </file-association>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.cdt.lsp.server.enable.HasLanguageServerPropertyTester"
            id="org.eclipse.cdt.lsp.server.enable.hasLanguageServerPropertyTester"
            namespace="org.eclipse.cdt.lsp.server.enable"
            properties="hasLanguageServer"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.cdt.lsp.server.enable.editorHasLanguageServer">
	            <with
	                  variable="activeEditor"> <!-- TODO: replace activeEditor with uri when LSPE fix for #393 has been done  -->
		            <test
	                forcePluginActivation="true"
	                property="org.eclipse.cdt.lsp.server.enable.hasLanguageServer"
	                value="true">
		            </test>
	            </with>        
      </definition>
   </extension>   
</plugin>

