<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
   Copyright (c) 2023 Contributors to the Eclipse Foundation.

   This program and the accompanying materials
   are made available under the terms of the Eclipse Public License 2.0
   which accompanies this distribution, and is available at
   https://www.eclipse.org/legal/epl-2.0/

   SPDX-License-Identifier: EPL-2.0
-->
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.cdt.lsp.clangd.internal.config.ClangdPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <!-- FIXME: AF: Exract clangd-specific preferences -->
      <!-- FIXME: AF: Move commmon part to "org.eclipse.cdt.lsp[.editor]" -->
      <page
            category="org.eclipse.cdt.lsp.editor.preferencePage"
            class="org.eclipse.cdt.lsp.clangd.internal.ui.ClangdConfigurationPage"
            id="org.eclipse.cdt.lsp.clangd.editor.preferencePage"
            name="%ClangdConfigurationPage.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.eclipse.cdt.lsp.editor.propertyPage"
            class="org.eclipse.cdt.lsp.clangd.internal.ui.ClangdConfigurationPage"
            id="org.eclipse.cdt.lsp.clangd.editor.propertyPage"
            name="%ClangdConfigurationPage.name">
         <filter
               name="projectNature"
               value="org.eclipse.cdt.core.cnature">
         </filter>
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.cdt.lsp.internal.clangd.editor.expressions.LspEditorActiveTester"
            id="org.eclipse.cdt.lsp.editor.active"
            namespace="org.eclipse.cdt.lsp.editor"
            properties="active"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.cdt.lsp.serverProvider">
      <server
            class="org.eclipse.cdt.lsp.clangd.internal.config.ClangdLanguageServerProvider"
            priority="low">
      </server>
   </extension>

  <extension
         point="org.eclipse.ui.commands">
      <!-- FIXME: AF: Register "org.eclipse.cdt.lsp.clangd.editor.commands.category.extensions" -->
      <command
            id="org.eclipse.cdt.lsp.clangd.editor.commands.command.switchSourceHeader"
            name="%Commands.ToggleSourceAndHeader.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.cdt.lsp.clangd.editor.commands.command.switchSourceHeader"
            contextId="org.eclipse.ui.genericeditor.genericEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+TAB">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.cdt.lsp.internal.clangd.editor.handlers.ToggleSourceAndHeaderCommandHandler"
            commandId="org.eclipse.cdt.lsp.clangd.editor.commands.command.switchSourceHeader">
         <activeWhen>
            	<with variable="activeEditor">
                <test
                      property="org.eclipse.cdt.lsp.editor.active">
                </test>
            	</with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=org.eclipse.lsp4e.openCallHierarchy">
         <command
               commandId="org.eclipse.cdt.lsp.clangd.editor.commands.command.switchSourceHeader"
               label="%PopupMenu.ToggleSourceAndHeader.label"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=org.eclipse.lsp4e.openCallHierarchy">
         <command
               commandId="org.eclipse.ui.genericeditor.findReferences"
               label="%PopupMenu.FindReferences.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.cdt.lsp.CEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="org.eclipse.cdt.lsp.clangd.config.marker"
         name=".clangd yaml Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.eclipse.tm4e.language_pack.yaml"
            file-names=".clangd,.clang-format">
      </file-association>
   </extension>   

</plugin>
