<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
   Copyright (c) 2023 Contributors to the Eclipse Foundation.

   This program and the accompanying materials
   are made available under the terms of the Eclipse Public License 2.0
   which accompanies this distribution, and is available at
   https://www.eclipse.org/legal/epl-2.0/

   SPDX-License-Identifier: EPL-2.0
-->
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            class="org.eclipse.cdt.lsp.internal.clangd.editor.preferences.LspEditorPreferencePage"
            id="org.eclipse.cdt.lsp.editor.ui.preference.page"
            name="Editor (LSP)">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.eclipse.cdt.ui.newui.Page_head_general"
            class="org.eclipse.cdt.lsp.internal.clangd.editor.properties.LspEditorPropertiesPage"
            id="org.eclipse.cdt.lsp.editor.ui.properties.page"
            name="Editor (LSP)">
         <filter
               name="projectNature"
               value="org.eclipse.cdt.core.cnature">
         </filter>
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.cdt.lsp.internal.clangd.editor.expressions.LspEditorPreferencesTester"
            id="org.eclipse.cdt.lsp.editor.ui.lspEditorPreference"
            namespace="org.eclipse.cdt.lsp.editor.ui"
            properties="LspEditorPreference"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.eclipse.cdt.lsp.internal.clangd.editor.expressions.LspEditorActiveTester"
            id="org.eclipse.cdt.lsp.editor.ui.isLspCEditor"
            namespace="org.eclipse.cdt.lsp.editor.ui"
            properties="isLspCEditor"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.cdt.lsp.serverProvider">
      <server
            class="org.eclipse.cdt.lsp.internal.clangd.CdtCLanguageServerProvider"
            priority="low">
         <enabledWhen>
            <test
                  forcePluginActivation="true"
                  property="org.eclipse.cdt.lsp.editor.ui.LspEditorPreference">
            </test>
         </enabledWhen>
      </server>
   </extension>

  <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.cdt.lsp.editor.ui.toggle_source_and_header"
            name="%Commands.ToggleSourceAndHeader.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.cdt.lsp.editor.ui.toggle_source_and_header"
            contextId="org.eclipse.ui.genericeditor.genericEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+TAB">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.cdt.lsp.internal.clangd.editor.handlers.ToggleSourceAndHeaderCommandHandler"
            commandId="org.eclipse.cdt.lsp.editor.ui.toggle_source_and_header">
         <activeWhen>
            	<with variable="activeEditor">
                <test
                      property="org.eclipse.cdt.lsp.editor.ui.isLspCEditor">
                </test>
            	</with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=org.eclipse.lsp4e.openCallHierarchy">
         <command
               commandId="org.eclipse.cdt.lsp.editor.ui.toggle_source_and_header"
               label="%PopupMenu.ToggleSourceAndHeader.label"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
